<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.jpg">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
        {{>header}}
        <img class="pt" src="/img/me.jpg">
        <p> This Site Was Created By Gowtham Ullangula This Site Uses Mapbox ,WeatherStack Api To Find Weather</p>
    </div>
    {{>footer}}
</body>
</html