<html>
    <title>Error Bad Request</title>
    <head>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>