<html>
<head>
    <title>Help desk</title>
    <link rel="icon" href="/img/weather.jpg">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
        {{>header}}
        <p>{{help}}</p>
    </div>
    {{>footer}}
</body>
</html