<html>
<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.jpg">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
        {{>header}}
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <img class="im" src="/img/weather1.jpg"><br>
        <h3>Weather Report</h3>
        <p id="message" style="color:rgb(6, 7, 6)"></p>
        <p id="extra" style="color:rgb(1, 10, 1)"></p>
        <h3>Relevent Search</h3>
        <div id="rv">
        </div> 
    </div>
    {{>footer}}
    <script src="/js/app.js">
</script>
</body>
</html>